@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Oswald', sans-serif;
}

 @layer components {
    .sidebar{
      transition:all .4s ease-in-out;
    }
  }

#outlet::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
#outlet {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}